
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #eef1f5;
}

.card {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.row {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

input, select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:required {
  border-left: 3px solid #007bff;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary { background: #007bff; color: white; }
.btn-dark { background: #343a40; color: white; }
.btn-danger { background: #dc3545; color: white; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
}

th {
  background: #007bff;
  color: white;
}

tr:hover { background: #f1f1f1; }

.nepali-date {
  background: #f0f7ff;
  padding: 4px;
  border-radius: 4px;
  width:300px;
}

.ne-dt-px-4{
  background: #ccc;
}


.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 380px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  z-index: 100;
}

.dropdown-item {
  padding: 6px 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f2f2f2;
}
